---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="font-semibold text-black dark:text-white">
        Adam Sokacz
      </h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <p>
              I explore topics in Industrial (Physical) AI, Industrial Automation, Software Development, Risk Management, and Finance. As a current MBA (Finance) student with a background in automation engineering and software systems, I am interested in topics where these domains intersect. The motivation for this blog is to organize and communicate my own professional thoughts on certain topics.
            </p>
            <p>
              Connect with me on <Link href="https://www.linkedin.com/in/adamsokacz" external>LinkedIn</Link> or browse the articles below.
            </p>
          </article>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest posts
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            Let's Connect
          </h2>
          <p>
            <Link href="https://www.linkedin.com/in/adamsokacz" external aria-label="Adam Sokacz on LinkedIn">
              LinkedIn
            </Link>
          </p>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
